<ion-header class="ion-no-border">
    <ion-toolbar color="#dfebe9">
        <ion-title>
            All Persons
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/form-page">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content ion-padding">
        <ion-list>
            <ion-item class="ion-no-padding ion-col"  *ngFor="let person of persons">
                <ion-label class="ion-text-wrap">
                    <h2>{{person.name}}</h2>
                    <p>Age: {{person.age}}</p>
                    <p>ID: {{person.nationalityID}}</p>
                    <p>Date of Birth: {{person.birthDate}}</p>
                </ion-label>
                <ion-button routerLink="/form-edit/{{person.personID}}" size="Large" class="ion-no-border">
                    <ion-icon color="success" slot="icon-only" md="create-outline" class="icon"></ion-icon>
                </ion-button>
                <ion-button (click)="deletePerson(person.personID)" size="Large" class="ion-no-border">
                    <ion-icon color="danger" slot="icon-only" md="trash-outline" class="icon"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

