ion-content {
  --background: #dfebe9;

  .content {
    background-color: #ffffff;
    width: 100%;
    min-height: 100%;
    border-radius: 25px 25px 0px 0px;
    
  }
  ion-item{
    display: flex;
    flex-direction: column;
  }
  ion-button {
    --background: transparent;
    --box-shadow: none;
  }
}
  
ion-header {
    ion-toolbar {
        background-color: #dfebe9;
        padding: 30px 10px;
    }
} 
.modal{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 25px;
}